:root {
  --size-smallBtn-menu: 3rem; 
}

.navbar-main {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-bottom: 3rem;
}

.menu-bar,
.pomodoro-minibar,
.option-bar {
  display: flex;
}

.menu-bar,
.option-bar {
  background-color: #cc6666;
  flex-direction: column;
  align-items: center;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem ;
  border: 0rem none;
  border-radius: 0.2rem;
}

/* .option-bar {
  opacity: 0;
  pointer-events: none;
} */


button {
  background-color: transparent;
  border: 0rem none;
  border-radius: 0.2rem;
  cursor: pointer;
  padding: 0;
  margin: 0;
  transition: 0.1s ease-in-out;
}

button:hover {
  background-color: var(--pomodoroDark);
}

.button-clicked {
  font-weight: 800;
  background-color: var(--pomodoroDark);
}

.main-menu:hover {
  background-color: #BB5F5F;
}

.main-menu,
.icon-button{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  border: 0 none;
  margin: 0.1rem 0rem;
  width: 5rem;
  height: 5rem;
  /* background-color: transparent; */
}

.menu-toggle{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 0rem;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.1s ease-in-out, opacity 0.5s;;
  /* transition: opacity 0.1s; */
}

.menu-toggle-active {
  max-height: 10rem;
  opacity: 1;
  /* background-color: red; */
}

/* .icon-button:hover {
  transition: 0.1s ease-in-out;
  transform: translateY(-0.1rem);
} */

/* .icon-button-text:hover {
  transition: 0.1s ease-in-out;
  transform: translateY(-0.02rem);
} */

.icon-button-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.1s ease-in;
}

.icon-button-text:hover {
  transition: 0.1s ease-in;
  transform: translate(-0.03rem, -0.03rem);
}

.icon-button-text:active {
  transition: 0.1s ease-out;
  transform: translateX(0.1rem);
}

.logo {
  /* height: 1.3rem; */
  width: 1.2rem;
  /* padding: 2rem 2rem; */
}

.icon-text {
  font-family: Nunito;
  font-size: 0.87rem;
  font-weight: 600;
  margin: 0.4rem 0rem 0rem 0rem;
  color: #191919;
  width: 4rem;
  text-align: center;
}

.text-clicked {
  font-weight: 800;
}

.appOptions-icon {
  width: 2rem;
  height: 2rem;
  color: var(--black);
}




/* For screens less than 700px */

@media only screen and (max-width:700px){
  .navbar-main {
    /* height: 500px; */
    flex-direction: column;
    align-items: stretch;
    overflow-x: hidden;
    height: 100%;
    padding-bottom: 3rem;
    gap: 0.2rem;
    /* background-color: red; */
  }

  .menu-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    /* min-width: var(--size-smallBtn-menu); */
    padding: 0.14rem 0.14rem 0.14rem 0.14rem;
  }

  .main-menu {
    display: flex;
  /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    border: 0 none;
    margin: 0.1rem 0rem;
    /* width: 5rem; */
    /* height: 5rem; */

    width: var(--size-smallBtn-menu);
    height: var(--size-smallBtn-menu);
  }

  .menu-icon{
    width: 1.2rem;
    height: 1.2rem;
    color: var(--black);
  }

  .menu-toggle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 0rem;
    overflow: hidden;
    opacity: 0;
    transition: max-width 0.1s ease-in-out, opacity 0.5s;;
    /* transition: opacity 0.1s; */
  }
  
  .menu-toggle-active {
    max-width: 10rem;
    opacity: 1;
    /* background-color: red; */
  }
  
  
  .icon-button  {
    align-items: center;
    justify-content: center;
    width: var(--size-smallBtn-menu);
    height: var(--size-smallBtn-menu);
  }

  .icon-button-text {
    width: var(--size-smallBtn-menu);
    height: var(--size-smallBtn-menu);
  }

  .icon-button-text:active {
    transition: 0.1s ease-out;
    transform: translateY(0.1rem);
  }

  .icon-text {
    font-family: Nunito;
    font-size: 0.7rem;
    font-weight: 600;
    margin: 0.2rem 0rem 0rem 0rem;
    color: #191919;
    width: var(--size-smallBtn-menu);
    text-align: center;
  }

  .option-bar {
    background-color: red;
    display: none;
  }
}