.notes-container {
  display: grid;
  grid-template-columns: auto;
  position: fixed;
  top: 5.8rem;
  bottom: 1.8rem;
  right: 5.8rem;
  left: 5.8rem;
  z-index: 2;
  background-color: var(--pomodoroDark);
  padding: 0.2rem 0.2rem;
}

.notes-overall {
  display: grid;
  /* grid-auto-columns: 1fr; */
  grid-template-columns: repeat(7, 15rem);
  grid-template-rows: repeat(2, 15rem);
  justify-items: start;
  align-items: start;
  background-color: var(--pomodoroLight);
  border-radius: 0.2rem;
  padding: 0.6rem;
  overflow-x: hidden;
  overflow-y: scroll;
}


.note-item {
  display: flex;
  padding: 6.2rem;
  height: 2rem;
  width: 2rem;
  border-radius: 0.2rem;
  background-color: var(--pomodoroDark);
  cursor: pointer
}

.note-item:hover {
  opacity: 0.7;
}

/* 
.notes-overall {
  display: flex;
  justify-items: center;
  align-items: start;
  grid-column-gap: 0.6rem;
  grid-row-gap: 0.6rem;
  padding: 0.6rem;
  border: 0 none;
  border-radius: 0.4rem;
  background-color:var(--pomodoroLight);
  overflow-y: auto;
}

.note-item-add {
  display: flex;
  background-color: var(--gray02);
  justify-content: center;
  align-items: center;
  border: 0 none;
  border-radius: 0.2rem;
}

.note-item {
  background-color: var(--gray01);
  justify-content: start;
  align-items: center;
  border: 0 none;
  border-radius: 0.2rem;
}

.note-item-container {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
}

.note-item-title {
  padding: 1rem 0rem;
}

.note-item, 
.note-item-add {
  color: var(--black);
  width: 15rem;
  height: 15rem;
  cursor: pointer;
}

.note-item:hover, 
.note-item-add:hover {
  opacity: 0.9;
}

.add-notes {
  width: 2rem;
  color: var(--black);
} */