/* .task-background {
  position: fixed;
  display: grid;
  grid-template-columns: 20rem 1fr 20rem;
  column-gap: 0.2rem;
  z-index: 2;
  top: 5.8rem;
  bottom: 1.8rem;
  right: 5.8rem;
  left: 5.8rem;
  background-color: #cc6666;
  padding: 0.2rem;
}

.task-container-left,
.task-container-center,
.task-container-right {
  background-color: #BB5F5F;
  row-gap: 1rem;
}

.task-container-left {
  display: grid;
  align-items: center;
  grid-template-rows: 6rem 1fr 1fr 1fr;
} */


.task-container {
  position: fixed;
  top: 5.8rem;
  bottom: 1.8rem;
  right: 5.8rem;
  left: 5.8rem;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  /* grid-template-columns: 20rem 1fr 20rem; */
  /* column-gap: 0.2rem; */
  background-color: #cc6666;
  padding: 0.2rem;
}


.task-overall,
.task-details {
  background-color: lightcoral;
  flex-basis: 18rem;
}


.task-focus {
  background-color: lightblue;
  flex: 1;
}

.task-test {
  position: fixed;
}

.task-overall {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 0.1rem solid black; */
}

.overall-title {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-basis: 4rem;
  border: 0.1rem solid black;
}

.task-title,
.task-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.task-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 5rem;
}

.box1 {
  background-color: var(--back01);
}
.box2 {
  background-color: var(--back02);
}


.overall-myTask {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex: 1;
  margin: 0.2rem 0rem;
  background-color: var(--back03);
  padding: 0.5rem;
  border: 0.1rem solid black;
}

.myTask-container {
  display: flex;
  flex-basis: 2.5rem;
  justify-content: space-between;
}



.overall-list {
  flex: 2;
  background-color: var(--back03);
  padding: 0.5rem;
}

.overall-tags {
  flex-basis: 8rem;
  background-color: var(--back03);
}


h1 {
  margin: 0;
}

