:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Nunito;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  background-color: #cd6666e8;
  --back01: rgb(200, 200, 200);
  --back02: rgb(50, 50, 50);
  --back03: rgb(75, 75, 75);
  --pomodoro: #ef4b4b;
  --pomodoroLight: #cc6666;
  --pomodoroDark: #BB5F5F;
  --black: #191919;
  --blackMedium: #191919c7;
  --blackLight: #19191981;
  --white: #eff9f9;
  --gray01: #919190af;
  --gray02: #aaaaaa66;
  /* --restColor: #e2aeae60; */
  --restColor: #eff9f954;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Icons start */

nav svg {
  width: 1.5rem;
  color: var(--black)
}

nav .menu-icon01 {
  width: 1.2rem;
  fill: var(--black);
}

nav .menu-icon,
.option-icon {
  width: 1.45rem;
  color: var(--black);
}

.footer-icon {
  width: 1.45rem;
  color: var(--black);
}
/* Icons end */

body {
  margin: 0;
}


.btn {
  background-color: bisque;
  color: black;
  padding: 0.3rem;
}